@import url('https://fonts.googleapis.com/css2?family=Inter&family=Jacques+Francois+Shadow&family=Lato&family=Playfair+Display&family=Quicksand:wght@400;500&display=swap');

body{
    margin: 0px;
    padding: 0px;
    overflow-x: hidden;
    font-family: 'Playfair Display', serif
}
*{ 
box-sizing: border-box;
}
.nav{width: 100%;
    display: flex;
    position: fixed;
      justify-content: space-between; 
    align-items: center;
    background:#014108;
    box-shadow: rgba(0, 0, 0, 0.15) 0px 15px 25px, rgba(0, 0, 0, 0.05) 0px 5px 10px; 
    z-index: 1;

}

 .onglets{
   display: flex;
   align-items: center;
   
}
/* .onglets .droit*/

nav .logo{
    color: white;
    font-size: 25px;
    margin-left: 10px;

}
.droit ul{
    list-style-type: none;
   
}
.droit ul li{
   position:relative ;
   float: left;
}
.droit ul li a{
    font-size: 18px;
    padding: 10px;
    margin-left: 15px;
    display: block;
}
.droit a{
 text-decoration: none;
 color: #EFFD86;
 font-family: 'Playfair Display', serif
}
.droit a:hover{

    border-bottom: 1px solid white; 
 }
 
.gauche{
    display: flex;
    align-items: center;
}

.gauche a{
    margin-right: 50px;
    color: white;
    text-decoration: none; 
    font-family: 'Playfair Display', serif
}
/* .gauche input{
   width: 300px;
   padding: 8px;
   border-radius:5px;
   border: none;
   outline: none;

} */

.droit ul li ul{
    position: absolute;
    left: 0;
    width: 260px;
    background: #8AEC89;
    display: none;
}

.important{
    color:#8ABC76; ;
}

.droit ul li ul li{
    width: 100%;
    border-top: 1px solid white;
}

.droit ul li ul li a{
    font-size: 16px;
}
.droit ul li ul li ul{
    left: 200px;
    top: 0px;
}
.droit ul li:focus-within >ul,
.droit ul li:hover >ul{
   display: initial;
}
#barre{
    display: none;
}
nav label{
    cursor: pointer;
    display: none;
    color: white;
    font-size: 18px;
    font-family: 'Inter', sans-serif;

}
.point a{
    color: white;
}
.point a:hover{
    border-bottom: none;  
}
.buton:hover{
    display: flex;
    justify-content: center;
    align-items: center;
    background: #EFFD86;
    border-radius: 10px;
    margin-left: 5px;
    padding: 2px;
    transition: 1.5s;
   
}
.buton a{
    color: white;
    font-size: 10px;
  
}

.buton a:hover{
  border-bottom: none;  
}

.buton a:hover{

    border-bottom: none;  
  }
/* responsivité */

@media(max-width:947px){
  
    nav label{
        display: block;
    } 
    nav .droit{
        position: absolute;
        top: 100%;
        left: 0px;
        right: 0px;
        background: #8AEC89;
        display: none;
    }

    nav .droit ul li{
        width: 100%;
    }
    nav .droit ul li ul{
        position: relative;
        width: 100%;
    }
    
    nav .droit ul li ul li{
       background: #8AEC89;
    }
    nav .droit ul li ul li ul{
        width: 100%;
        left: 0;
     }

    #barre:checked ~ .droit{
        display: initial;
    }
}
 /* fin de responsivité */


 /* footer{
  position: fixed;
   bottom: 0;
   width: 100%;
  background-color: #014108;
  
   padding: 20px;
  text-align: center; 
}
.footerContainer{

    width: 100%;
    padding: 10px 50px;
  }
  
  .footerContainer .socialIcons{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
  }
  .footerContainer .socialIcons a{
     text-decoration: none;
     padding: 5px;
     background: white;
     margin: 10px;
     border-radius: 50%;
    }
  
    .footerContainer .socialIcons a i{
      font-size: 25px;
      color: black;
       opacity: 0.9; 
     }
  
  .footerContainer .footerNew{
  margin: 30px 0;
    
  }  
  .footerContainer .footerNew ul{
     display: flex;
     justify-content: center;
     list-style-type: none;
        
      }  
      .footerContainer .footerNew ul li a{
          color: #EFFD86;
          margin: 20px;
          text-align: none;
          font-size: 1.3em;
          transition: 0.5s;
          text-decoration: none;
            
          }  
  
  .footerContainer .footerBotton{
    background: white;
    text-align: center;
  }
  
  .footerContainer .footerBotton p{
      color: black;
      padding: 2px;
  }
  
   @media (max-width:800px){
      .footerNew ul{
          flex-direction: column;
      }
      .footerNew ul li{
          width: 100%;
          text-align: center;
          margin: 10px;
      }
   }
 */
